<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>273927137736-oj05tbsv8gj1p6igel81hv1ed4rd262v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273927137736-oj05tbsv8gj1p6igel81hv1ed4rd262v</string>
	<key>API_KEY</key>
	<string>AIzaSyCdT6gSCr_ZH8C40d5DCf4VVh3O31wBG64</string>
	<key>GCM_SENDER_ID</key>
	<string>273927137736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musevisions.flutter.login</string>
	<key>PROJECT_ID</key>
	<string>login-flutter-3a150</string>
	<key>STORAGE_BUCKET</key>
	<string>login-flutter-3a150.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:273927137736:ios:766a257448733f74</string>
	<key>DATABASE_URL</key>
	<string>https://login-flutter-3a150.firebaseio.com</string>
</dict>
</plist>
